<section class="product-list">

  <button class="showButton" [hidden]="!isUserAdmin"><a routerLink="/create">Add new product</a></button>
  <button class="showButton" [hidden]="showFiltersStatus" (click)="showFiltersChange()">Show filters</button>
  <button class="showButton" [hidden]="!showFiltersStatus" (click)="showFiltersChange()">Hide filters</button>
  <div class="filters" [hidden]="!showFiltersStatus">
    <select  class="filter-input" (change)="ChoseType($event)">
      <option value="">All Types</option>
      <option *ngFor="let type of types" [value]="type">{{ type }}</option>
    </select>
    <select  class="filter-input" (change)="ChoseMark($event)">
      <option value="">All Marks</option>
      <option *ngFor="let mark of marks" [value]="mark">{{ mark }}</option>
    </select>

    <input type="number" min="0" placeholder="Min Price"  [(ngModel)]="filtres.minPrice" name="minPrice" (change)="FindByFilters($event)">
    <input type="number" min="0" placeholder="Max Price" [(ngModel)]="filtres.maxPrice" name="maxPrice" (change)="FindByFilters($event)">
    <input type="number" min="2000" max="{{currentYear}}" placeholder="Min Year" [(ngModel)]="filtres.minYear" name="minYear" (change)="FindByFilters($event)">
    <input type="number" min="2000" max="{{currentYear}}"  placeholder="Max Year" [(ngModel)]="filtres.maxYear" name="maxYear" (change)="FindByFilters($event)">

    <select (change)="ChoseSortBy($event)">
      <option value="" >Sort: Default</option>
      <option value="price">Sort by Price</option>
      <option value="year">Sort by Year</option>
      <option value="name">Sort by Name</option>
    </select>
    <button type="button" (click)="FindByFilters($event)">Find</button>
  </div>
  <div class="products">
    <div class="product" *ngFor="let product of products">
      <a routerLink="/product/{{product.id}}">
        <div class="image">
          <img src="http://localhost:3000/{{product.image}}" alt="Product Image">
        </div>
        <div class="details">
          <h2>{{ product.name }}</h2>
          <p>model: {{ product.model }}</p>
          <p>Price: {{ product.price}} грн</p>
          <p>Year: {{ product.year }} р.</p>
          <div [ngClass]="{'status-green': product.isAvailable === true, 'status-red': product.isAvailable === false}">
            Status: {{product.status}}
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
