::ng-deep * {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1a1a1a;
  color: white;
  font-family: "Bell MT";
}
@media screen and (max-width: 768px) {

  .title h1 {
    font-size: 20px;
    margin: 10px;
    text-align: center;
  }

  .admin-link {
    margin-top: 10px;
  }

  a {
    display: inline-block;
    padding: 8px 12px;
  }
}



.title h1 {
  font-size: 24px;
}

.admin-link a {
  text-decoration: none;
  color: #f39c12;
  font-weight: bold;
  padding: 10px 15px;
  border: 2px solid #f39c12;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.admin-link a:hover {
   background-color: #f39c12;
   color: white;
 }

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  text-align: left;
}
.social-icons{
  margin-right: 20px;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .contact-info {
    text-align: center;
    margin-top: 10px;
  }

  .social-icons {
    margin-top: 10px;
    text-align: center;
  }

  .social-icons a {
    margin: 0 5px;
    font-size: 20px;
  }

  .social-icons img {
    width: 20px;
    height: 20px;
  }
}
