<header class="header">
  <div class="admin-link">
    <a routerLink="">
      Main
    </a>
  </div>
  <div class="title">
    <h1>Welcome to Our TV Shop</h1>
  </div>
  <div class="admin-link">
    <a routerLink="/login" *ngIf="isLoggedIn === false">
      Login
    </a>
    <a *ngIf="isLoggedIn === true" (click)="logout()">
      Logout
    </a>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="footer-content">
    <div class="contact-info">
      <p>123 Main Street, City</p>
      <p>Phone: +123-456-7890</p>
    </div>
    <div class="social-icons">
      <a href="https://t.me/DeN6096" target="_blank">
        <img src="assets/telegram.svg" alt="Telegram" />
      </a>
      <a href="viber://chat?number=+380679583012" target="_blank">
        <img src="assets/icons8-viber.svg" alt="Viber" />
      </a>
      <a href="https://www.facebook.com/profile.php?id=100079332690700" target="_blank">
        <img src="assets/icons8-facebook.svg" alt="Facebook" />
      </a>
      <a href="https://www.instagram.com/technika_drohobych" target="_blank">
        <img src="assets/icons8-instagram.svg" alt="Instagram" />
      </a>
    </div>
  </div>
</footer>

